body
{  
    margin: 0px;
    padding: 0px;
    background-image: url(monde.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;  
    background-size: cover; 
}
.content
{   margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-site{ 
    width: auto;
    height: auto;
    margin: auto;
}
#tete h1{
    text-align: center;
    font-size: 50px;
    color: greenyellow;
}
#form{
    color: blanchedalmond;
    
}
#form h1{
    text-align: center;
    color: blanchedalmond;
}
#form label{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
.labcenter{
    display: block;
    text-align: center;

}
#form input[type="text"], #form input[type="email"], #form input[type="password"]{
    padding: 10px;
    text-align: center;
    color: rgb(113, 121, 45);
    border: 2px solid gray;
    border-radius: 24px;
    outline: none;
    transition: 0.25s;
}
#form input[type="text"]:focus, #form input[type="email"]:focus, #form input[type="password"]:focus{
   width: 280px;
   border-color: chartreuse;
}
#form input[type="submit"]{
    display: block;
    padding: 10px;
    text-align: center;
    color: rgb(90, 110, 0);
    border: 2px solid gray;
    border-radius: 24px;
    outline: none;
    transition: 0.25s;
}
#form input[type="submit"]:focus{
    width: 180px;
    border-color: chartreuse;
}
#form input[type="submit"]:hover{
    background-color: crimson;
    color: chartreuse;
}
#pied p{
    text-align: center;
    color: chocolate;
    font-size: 19px;
}
#pied .p {
    text-align: center;
    font-size: 30px;
    color: red;
}
